Header{
    text-align: center;
   
}
.menu{
    text-align: center;

}
a{
    color: blueviolet;
}
.heading2{
    text-align: center;
}
.mpic{
    text-align: center;
}
footer{
    text-align: center;
}