Header{
    text-align: center;
   
}
.menu{
    text-align: center;

}
a{
    color: blueviolet;
}
.para{
    text-align: center;
    
}
.ipic{
    text-align: center;
}
.btn{
    text-align: center;
}
.a{
    text-align: center;
    border: 2px solid black;
}
footer{
    text-align: center;
}
